@model EFA.Models.BookmarkView

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bookmark</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shared)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shared)
        </dd>

        <dt>
            @Html.DisplayName("Category")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayName("Owner")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", Model) |
    @Html.ActionLink("Back to List", "Index")
</p>
