@using EFA.Models

@model IEnumerable<EFA.Models.BookmarkView>

@{
    ViewBag.Title = "Index";
    IEnumerable<Category> categories = ViewBag.Categories;
    IEnumerable<User> users = ViewBag.Users;
    User current_user = ViewBag.CurrentUser;
    int categoryChoice = (int)Session["BookmarkFilterByCategory"];
    int ownerShipsChoice = (int)Session["BookmarkFilterByOwnership"];
}

<table class="table" style="margin-top: 20px">
    <tr>
        <th>
            @Helper.SortAction(Url, "Sort", Html.DisplayNameFor(model => model.Name).ToString(), "Bookmark", "Name")
        </th>
        <th>
            @Helper.SortAction(Url, "Sort", Html.DisplayNameFor(model => model.Url).ToString(), "Bookmark", "Url")
        </th>
        <th>
            @Helper.SortAction(Url, "Sort", "", "Bookmark", "Category")
            <select id="categorieFilterList">
                <option value="-1" @(categoryChoice == -1 ? "selected" : "")>All categories</option>
                @foreach (Category categorie in categories)
                {
                    <option value="@((int)categorie.Id)" @(categoryChoice == (int)categorie.Id ? "selected" : "")>@categorie.Name</option>
                }
            </select>
        </th>
        <th>
            @Helper.SortAction(Url, "Sort", "", "Bookmark", "OwnerName")
            <select id="ownerShipFilterList">
                <option value="-3" @(ownerShipsChoice == -3 ? "selected" : "")>Private</option>
                <option value="-2" @(ownerShipsChoice == -2 ? "selected" : "")>Shared</option>

                <option value="-1" @(ownerShipsChoice == -1 ? "selected" : "")>All ownerships</option>
                @foreach (User user in users)
                {
                <option value="@((int)user.Id)" @(ownerShipsChoice == (int)user.Id ? "selected" : "")>@user.FirstName @user.LastName</option>
                }
            </select>
        </th>


        <th style="text-align: center"> 
            <a href="@Url.Action("Create", "Bookmarks")">
                <img src="@Url.Content("~/Content/UI_Images/Add.png")" style="height: 25px; width: 25px" />
            </a>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="width: 10%; overflow-wrap: break-word">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="width: 20%; overflow-wrap: break-word">
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td  style="width: 20%; overflow-wrap: break-word">
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td  style="width: 20%; overflow-wrap: break-word">
                @if (item.Shared)
                {
                    <span>Shared</span>
                }
                else
                {
                    @Html.ActionLink(item.OwnerName, "Edit", item.OwnerId)

                }
            </td>

            <td style="width: 40%; overflow-wrap: break-word; text-align:center">

                @if (item.Shared || item.OwnerId == current_user.Id || current_user.Admin)
                {
                    <a href="@Url.Action("Edit", "Bookmarks", item)">
                        <img src="@Url.Content("~/Content/UI_Images/Edit.png")" style="height: 25px; width: 25px" />
                    </a>
                }
                <a href="@Url.Action("Details", "Bookmarks", item)">
                    <img src="@Url.Content("~/Content/UI_Images/Details.png")" style="height: 25px; width: 25px" />
                </a>
                @if (item.Shared || item.OwnerId == current_user.Id || current_user.Admin)
                {
                <a href="@Url.Action("Delete", "Bookmarks", item)">
                    <img src="@Url.Content("~/Content/UI_Images/Delete.png")" style="height: 25px; width: 25px" />
                </a>
                }
                </td>
        </tr>
    }

</table>


<script>
        document.addEventListener('DOMContentLoaded', AttachEventHandlers);

        function AttachEventHandlers() {
            document.querySelector('#categorieFilterList').addEventListener('change', (event) => {
                document.location = "@Url.Action("FilterCategory")" + "?Category=" + event.target.value;
            });
             document.querySelector('#ownerShipFilterList').addEventListener('change', (event) => {
                document.location = "@Url.Action("FilterOwnership")" + "?Ownership=" + event.target.value;
            });
    }



</script>